LOOPAD_ENV=dev
LOOPAD_SERVICE_ID=event-collector
PORT=8080
LOOPAD_KAFKA_BOOTSTRAP_BROKERS=localhost:9094
LOOPAD_KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
LOOPAD_KAFKA_SASL_MECHANISM=SCRAM-SHA-512
LOOPAD_KAFKA_USERNAME=event-collector
LOOPAD_KAFKA_PASSWORD=replace-me
LOOPAD_EVENT_TOPIC=loop-ad.events.raw
